<%- include('partials/header'); %>
<div class="form-container">
    <form action="/" method="post">
        <div class="form-inline">
            <input id="postCode" name="postCode" type="text" class="form-control" placeholder="1234AB"
                placeholder="postcode">
            <button class="btn btn-outline-dark" type="submit">Get Venue details</button>
        </div>
    </form>
</div>
<%- include('partials/footer'); %>